In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble  import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np
import pickle
from google.cloud import storage

In [2]:
bucket_name = 'BUCKET_NAME'
file_name = 'ESGI/data_prepare.csv'
client = storage.Client()
bucket = client.bucket(bucket_name)
blob = bucket.blob(file_name)

In [3]:
blob.download_to_filename('data_prepare.csv')
df = pd.read_csv('data_prepare.csv', sep=',')

In [4]:
df

,valeur,Latitude,Longitude,type d'implantation,type d'influence,Year,Month,Day
0,0.0,49.119442,6.180833,1,1,2022,8,1
1,7.0,49.110283,6.223336,1,1,2022,8,1
2,10.0,48.915000,6.058336,1,1,2022,8,1
3,7.0,49.368610,6.160831,1,1,2022,8,1
4,11.0,49.358337,6.156942,1,1,2022,8,1
...,...,...,...,...,...,...,...,...
226115,10.0,47.294640,6.825861,5,1,2023,9,30
226116,14.0,47.096720,5.496389,1,1,2023,9,30
226117,12.0,47.147250,5.556117,2,2,2023,9,30
226118,12.0,47.620022,6.157642,1,1,2023,9,30
226119,12.0,47.351288,6.359722,1,3,2023,9,30

In [5]:
X=df.drop(['valeur'],axis=1)
y = df['valeur']

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [8]:
model =RandomForestRegressor()
model.fit(X_train, y_train)

RandomForestRegressor()

In [9]:
predictions = model.predict(X_test)

In [10]:
mse = mean_squared_error(y_test, predictions)
r2 = r2_score(y_test, predictions)

# Afficher les métriques
print(f'Mean Squared Error (MSE): {mse}')
print(f'R-squared (R2): {r2}')

Mean Squared Error (MSE): 22.781867539359634
R-squared (R2): 0.787445693773372

In [12]:
with open('model', 'wb') as f:
    pickle.dump(model, f)

In [30]:
pickle_blob = bucket.blob('BUCKET_NAME')
pickle_blob.upload_from_filename('model')

In [27]:
test=pd.concat([X_test+y_test], axis=1)

In [19]:
csv_filename = 'FILE_NAME'
X_test.to_csv(csv_filename, index=False)

In [20]:
csv_blob = bucket.blob('FILE_NAME')
csv_blob.upload_from_filename('FILE_NAME')